.collapse-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 20px;
  height: fit-content;
  max-height: 100px;
  overflow-y: hidden;

  transition: max-height 1s;
}

.show {
  max-height: 500px;

  transition: max-height 1s;
}

.collapse-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  margin: 20px;
  min-height: 50px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.collapse-btn:hover {
  border: 2px solid rgb(200, 200, 246);
}

.collapse-content {
  margin: 15px;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 10px;
  color: grey;
  height: fit-content;
  }
